<div class="login-page">
  <div class="login-header row">
      <img src="../../assets/logo.PNG" class="logo" />
      <h1>Campany name</h1>
  </div>
  <div class="row justify-content-md-center login-body">
      <div class="col-md-5 box-form">
          <h2>Forget Password</h2>
          <form role="form">
                  <div class="form-content">
                      <div class="form-group">
                          <p>Enter your email address and we will send you reset password link in your email</p>
                          <input type="email" class="form-control"  aria-describedby="emailHelp" placeholder="Enter Your Email" autofocus>
                          
                        </div>
      
                          <button class="btn btn-continue" type="submit">continue</button>
                          
                  </div>
              </form>
              <div class="col-md-12 forget-footer">
                      <a  [routerLink]="[ '/login']">Back to sign in</a>
                      
              </div>
      </div>
  </div>
</div>
