<div class="login-page">
  <div class="login-header row">
      <img src="../../assets/images/logo.PNG" class="logo" />
      <h1>Campany name</h1>
  </div>
  <div class="row justify-content-md-center login-body">
      <div class="col-md-5 box-form box-shadow">
          <h2>Login</h2>
          <form role="form">
                  <div class="form-content">
                    <div class="group">      
                        <input type="text" required>
                        <span class="highlight"></span>
                        <!-- <span class="bar"></span> -->
                        <label>User Name</label>
                      </div>
                        <div class="group">
                            <input type="password" ngModel passwordToggle required>
                            <span class="highlight"></span>
                            <!-- <span class="bar"></span> -->
                            <label>Password</label>
                          
                        </div>
                        
                        
                        <div class="form-group form-check">
                            
                            <label class="check ">Remember my user ID
                                <input type="checkbox" checked="checked" name="is_name">
                              <span class="checkmark"></span>
                            </label>
                            <a [routerLink]="[ '/home']" class="btn btn-login">login</a>
                          </div>

                          <div class="group license-group">
                                <span>By clicking sign In, You agree to our</span> 
                                <a [routerLink]="[ '/edit-license']" class="btn-license">License Agreement</a>
                          </div>
                            

                          
                  </div>
              </form>
              <div class="col-md-12 login-footer">
                      <a href="##" [routerLink]="[ '/forgtPass']" >Forget password</a>
                      <a href="##">عربي</a>
              </div>
      </div>
  </div>
</div>