$primary-color: #51445f;
:host {
    display: block;
}
.login-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background: $primary-color;
    text-align: center;
    color: #fff;
    padding: .7em 3em;
    padding-bottom: .7em;
    .login-body{
        background-color: #fff;
        height: 100%;
        position: relative;
        margin-left: -40px;
        margin-right: -40px;
    }
    .login-header{
        margin-bottom: .5em;

    }
    .logo{
        width: 35px;
        height: 35px
    }
    .col-lg-4 {
        padding: 0;
    }
    .box-form{
        position: absolute;
        background-color:$primary-color;
        top: 4em;
        padding-left: 5px;
        padding-right: 5px;
    }
    form{
        background-color: #fafafa;
        margin: 1em 0;
        padding: 1em;
        color: #620262;
        padding-top: 0;
        
    }    

    h1 {
        font-weight: 300;
        font-size: 20px;
        padding-top: 5px;
        margin-left: .5em;
        small {
            color: rgba(255, 255, 255, 0.7);
        }
    }

    .form-group {
        // padding: 8px 0;
        .form-group:first-child {
            padding-top: 5px;
        }
        input::-webkit-input-placeholder {
            color: rgba(201, 199, 199, 0.6) !important;
        }

        input:-moz-placeholder {
            /* Firefox 18- */
            color: rgba(255, 255, 255, 0.6) !important;
        }

        input::-moz-placeholder {
            /* Firefox 19+ */
            color: rgba(255, 255, 255, 0.6) !important;
        }

        input:-ms-input-placeholder {
            color: rgba(255, 255, 255, 0.6) !important;
        }
    }
    .form-content {
        padding: 40px 0;
        padding-bottom: 20px;
        padding-top: 5px;
        .form-group{
           
            label{
                float: left;
            }
            .form-control{
                border-radius: 0.15rem;
            }
            


        }
    }


    .btn-continue{
        margin: auto;
        background-color: #330033;
        width: 70%;
        display: flex;
        flex-direction: row;
        color: #fff !important;
        padding-left: 148px;
        

    }
    
    .forget-footer{
        padding-bottom: 15px;
        a{
            color: #fff;
            margin-bottom: 20px;
            text-decoration: none;
    
        }
        .forget-footer a:first-child{
            text-decoration: none;
            // margin-left: 185px;
            margin-bottom: 15px;
            text-decoration: none
        }
    }

     
    
    
    h2{
        margin: 15px;
        font-size:1.6em;
    }
}

