<div class="container dash-body">
  <div class="row">
    <!-- switch -->
    <div class="col-12">
      <div class="form-check toggle-privacy pl-0 col-6">
        <label for="stackedCheck1" class="form-check-label">Privacy</label>
        <toggle-button >
        </toggle-button>
      </div>
    </div>
    
    <div class="row mt-5">
      <!-- card Profit and loss-->
      <div class="card col-md-3 ml-5">
        <!-- card body -->
        <div class="card-body">
          <div class="row card-header ">
            <!-- card title -->
              <h5 class="card-title col-6">Profit and loss</h5>
              <div class="col-6 dropdown ">
                <a class="nav-link dropdown-toggle pr-5" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  This Quarter
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div></div>
                
          </div>
          <!-- card details -->
          <div class="row card-details">
              <p class=" col-6">100,000$
                <span>net incomic</span>
              </p>
              <div class="col-6 dropdown ">
                <a class="nav-link dropdown-toggle pr-5" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  All Branches
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div></div>
                
          </div>
          <div class="row card-details">
              <p class="card-title col-6">150,000$
                  <span>incomic</span>
                </p>
                <div class="prog-incomic col-6">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                </div>
                
          </div>

          <div class="row card-details">
              <p class="card-title col-6">50,000$
                  <span>expenses</span>
                </p>
                <div class="progress-icomic col-6">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                </div>
                
          </div>
        </div>
      </div>
      <!-- End card Profit and loss -->

      <!-- card Expenses -->
      <div class="card card-expenses col-md-3 ml-5">
          <!-- card body -->
          <div class="card-body">
            <div class="row card-header ">
              <!-- card title -->
                <h5 class="card-title col-6">expenses</h5>
                <div class="col-6 dropdown ">
                  <a class="nav-link dropdown-toggle pr-5" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    last manth
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div></div>
                  
            </div>
            <!-- card details -->
            <div class="row card-details">
                <p class=" col-6">30,000$
                  <span>last manth</span>
                </p>
                <div class="col-6 dropdown ">
                  <a class="nav-link dropdown-toggle pr-5" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    All Branches
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div></div>
                  
            </div>
            <div class="row card-details card-admin">
                <p class="col-6 ">20,000$
                    <span>admininstrative expenses</span>
                  </p>
                  <div class="prog-incomic col-6">
                      <div class="progress">
                          <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                  </div>
                  
            </div>
  
            <div class="row card-details card-oprating">
                <p class="card-title col-6">20,000$
                    <span>oprating expenses</span>
                  </p>
                  <div class="progress-icomic col-6">
                      <div class="progress">
                          <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                  </div>
                  
            </div>
          </div>
        </div>
        <!-- End card Expenses -->
        <div class="card col-md-3 ml-5">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>

      
    </div>
      
  </div>
</div>
