<div class="view-page">
  <div class="view-header row">
      <img src="../../assets/images/logo.PNG" class="logo" />
      <h1>Campany name</h1>
  </div>
  <div class="view-body">
    <p class="notif-tittle col-12">Your Notifications</p>
    <div class="view-content row">
          <img src="../../assets/images/user-profile.png" class="col-md-1" alt="">
          <div class="info col-md-8">
            <p>New jorunalEntry-Branch Name-journal Number</p>
            <span>Apr 4, 5:00 pm</span>
          </div>
        </div>

        <div class="view-content row">
            <img src="../../assets/images/user-profile.png" class="col-md-1" alt="">
            <div class="info col-md-8">
              <p>New jorunalEntry-Branch Name-journal Number</p>
              <span>Apr 4, 5:00 pm</span>
            </div>
          </div>
            
  </div>
  
</div>

